{% extends "manager/base.html" %}
{% block css %}
    <style>
      #weatherWidget .currentDesc {
          color: #ffffff!important;
      }
          .traffic-chart {
              min-height: 335px;
          }
          #flotPie1  {
              height: 150px;
          }
          #flotPie1 td {
              padding:3px;
          }
          #flotPie1 table {
              top: 20px!important;
              right: -10px!important;
          }
          .chart-container {
              display: table;
              min-width: 270px ;
              text-align: left;
              padding-top: 10px;
              padding-bottom: 10px;
          }
          #flotLine5  {
               height: 105px;
          }
  
          #flotBarChart {
              height: 150px;
          }
          #cellPaiChart{
              height: 160px;
          }
  
      </style>
    {% endblock %}
{% block bodymain %}
<div class="animated fadeIn">
    <!-- Widgets  -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <i class="pe-7s-user"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{students.count}}</span></div>
                                <div class="stat-heading">Total Students</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-2">
                            <i class="pe-7s-user"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{teachers.count}}</span></div>
                                <div class="stat-heading">Total Teachers</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-3">
                            <i class="pe-7s-user"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{managers.count}}</span></div>
                                <div class="stat-heading">Total Managers</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <i class="pe-7s-users"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{users.count}}</span></div>
                                <div class="stat-heading">Total Users</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Widgets -->
    <!--  Traffic  -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">All Time Users Statistics Graph </h4>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card-body">
                            <!-- <canvas id="TrafficChart"></canvas>   -->
                            <div id="traffic-chart" class="traffic-chart"></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card-body">
                            <div class="progress-box progress-1">
                                <h4 class="por-title">Students</h4>
                                <div class="por-txt">{{students.count}} Users ({{st_per}}%)</div>
                                <div class="progress mb-2" style="height: 5px;">
                                    <div class="progress-bar bg-flat-color-1" role="progressbar" style="width: {{st_per}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progress-box progress-2">
                                <h4 class="por-title">Teachers</h4>
                                <div class="por-txt">{{teachers.count}} Users ({{te_per}}%)</div>
                                <div class="progress mb-2" style="height: 5px;">
                                    <div class="progress-bar bg-flat-color-2" role="progressbar" style="width: {{te_per}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progress-box progress-2">
                                <h4 class="por-title">Managers</h4>
                                <div class="por-txt">{{managers.count}} Users ({{ma_per}}%)</div>
                                <div class="progress mb-2" style="height: 5px;">
                                    <div class="progress-bar bg-flat-color-3" role="progressbar" style="width: {{ma_per}}%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div> <!-- /.card-body -->
                    </div>
                </div> <!-- /.row -->
                <div class="card-body"></div>
            </div>
        </div><!-- /# column -->
    </div>
    <!--  /Traffic -->
    <div class="clearfix"></div>
    <!-- Orders -->
    <div class="orders">
        <div class="row">
              <!-- /.col-lg-8 -->
              <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title box-title">Send Message To Students</h4>
                        <div class="card-content">
                            <div class="messenger-box">
                                <ul>
                                  {% for s in sm %}
                                    <li>
                                        <div class="msg-sent msg-container">
                                            <div class="avatar">
                                              {% if s.sender.profile_pic %}
                                               <img src="{{s.sender.profile_pic.url}}" style="border-radius: 100%;width: 50px;height: 50px;" alt="">
                                               {% else %}
                                               <img src="{{web.icon.url}}" style="border-radius: 100%;width: 50px;height: 50px;" alt="">
                                               {% endif %}
                                               <div class="send-time">{{s.date | timesince}} ago</div>
                                            </div>
                                            <div class="msg-box">
                                                <div class="inner-box">
                                                    <div class="name">
                                                        {{s.sender.first_name}} {{s.sender.last_name}}
                                                    </div>
                                                    <div class="meg">
                                                        {{s.message}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.msg-sent -->
                                    </li>
                                  {% endfor %}
                                </ul>
                                <div class="send-mgs">
                                  <form method="POST">
                                    {% csrf_token %}
                                    <div class="yourmsg">
                                        <input class="form-control" name="message" type="text">
                                    </div>
                                    <button type="submit" name="send" class="btn msg-send-btn">
                                        <i class="pe-7s-paper-plane"></i>
                                    </button>
                                  </form>
                                </div>
                            </div><!-- /.messenger-box -->
                        </div>
                    </div> <!-- /.card-body -->
                </div><!-- /.card -->
            </div>
            <div class="col-xl-4">
                <div class="row" >

                    <div class="col-lg-6 col-xl-12">
                        <div class="card bg-flat-color-3  ">
                            <div class="card-body">
                                <h4 class="card-title m-0  white-color ">Users that are joined in this month is {{month.count}}</h4>
                            </div>
                             <div class="card-body">
                                 <div id="flotLine5" class="flot-line"></div>
                             </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /.col-md-4 -->
        </div>
    </div>
    <!-- /To Do and Live Chat -->
    <!-- Calender Chart Weather  -->
                <div id="cellPaiChart" class="float-chart"></div>
</div>
{% if c %}
<h4>Feedback from user</h4><br><br>
{% endif %}
{% autoescape off %}
{% for a in c %}

<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">{{a.name}}</strong>
        </div>
        <div class="card-body">
            <p class="card-text">{{a.message|linebreaks}}</p>
            <p class="card-text"><a href="mailto:{{a.email}}">contact</a></p>
            <p>{{a.date|timesince}} ago</p>
        </div>
        <form method="post">
            {% csrf_token %}
            <input type="text" value="{{a.id}}" name="id" hidden id="">
            <button type="submit" name="delete" class="fa fa-trash btn btn-danger"></button>
        </form>
    </div>
</div>
{% endfor %}
{% endautoescape %}
{% endblock %}
{% block script %}
<script>
    jQuery(document).ready(function($) {
        "use strict";
/*
        // Pie chart flotPie1
        var piedata = [
            { label: "{{female}}>Female", data: [[0,{{f_per}},]], color: '#ef5350'},
            { label: "{{male}}>Male", data: [[0,{{m_per}},]], color: '#5c6bc0'},
        ];

        $.plot('#flotPie1', piedata, {
            series: {
                pie: {
                    show: true,
                    radius: 1,
                    innerRadius: 0.65,
                    label: {
                        show: true,
                        radius: 2/3,
                        threshold: 1
                    },
                    stroke: {
                        width: 0
                    }
                }
            },
            grid: {
                hoverable: true,
                clickable: true,
                show: true,
            }
        });
        // Pie chart flotPie1  End
        // cellPaiChart */
        var cellPaiChart = [
            { label: "Female users({{female}})", data: [[1,{{f_per}}]], color: '#5b83de'},
            { label: "Male users({{male}})", data: [[1,{{m_per}}]], color: '#00bfa5'},
        ];
        $.plot('#cellPaiChart', cellPaiChart, {
            series: {
                pie: {
                    show: true,
                    stroke: {
                        width: 0
                    }
                }
            },
            legend: {
                show: false
            },grid: {
                hoverable: true,
                clickable: true
            }

        });
        // cellPaiChart End
        // Line Chart  #flotLine5
        var newCust = [[0, 3], [1, 5], [2,4], [3, 7], [4, 9], [5, 3], [6, 6], [7, 4], [8, 10]];

        var plot = $.plot($('#flotLine5'),[{
            data: newCust,
            label: 'New Data Flow',
            color: '#fff'
        }],
        {
            series: {
                lines: {
                    show: true,
                    lineColor: '#fff',
                    lineWidth: 2
                },
                points: {
                    show: true,
                    fill: true,
                    fillColor: "#ffffff",
                    symbol: "circle",
                    radius: 3
                },
                shadowSize: 0
            },
            points: {
                show: true,
            },
            legend: {
                show: false
            },
            grid: {
                show: false
            }
        });
        // Line Chart  #flotLine5 End
        // Traffic Chart using chartist
        if ($('#traffic-chart').length) {
            var chart = new Chartist.Line('#traffic-chart', {
              labels: ['All Time Stats'],
              series: [
              [0, {{students.count}}, ],
              [0, {{teachers.count}}, ],
              [0, {{managers.count}}, ]
              ]
          }, {
              low: 0,
              showArea: true,
              showLine: false,
              showPoint: false,
              fullWidth: true,
              axisX: {
                showGrid: true
            }
        });

            chart.on('draw', function(data) {
                if(data.type === 'line' || data.type === 'area') {
                    data.element.animate({
                        d: {
                            begin: 2000 * data.index,
                            dur: 2000,
                            from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
                            to: data.path.clone().stringify(),
                            easing: Chartist.Svg.Easing.easeOutQuint
                        }
                    });
                }
            });
        }
        // Traffic Chart using chartist End
        /*Traffic chart chart-js
        if ($('#TrafficChart').length) {
            var ctx = document.getElementById( "TrafficChart" );
            ctx.height = 150;
            var myChart = new Chart( ctx, {
                type: 'line',
                data: {
                    labels: [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul" ],
                    datasets: [
                    {
                        label: "Visit",
                        borderColor: "rgba(4, 73, 203,.09)",
                        borderWidth: "1",
                        backgroundColor: "rgba(4, 73, 203,.5)",
                        data: [ 0, 2900, 5000, 3300, 6000, 3250, 0 ]
                    },
                    {
                        label: "Bounce",
                        borderColor: "rgba(245, 23, 66, 0.9)",
                        borderWidth: "1",
                        backgroundColor: "rgba(245, 23, 66,.5)",
                        pointHighlightStroke: "rgba(245, 23, 66,.5)",
                        data: [ 0, 4200, 4500, 1600, 4200, 1500, 4000 ]
                    },
                    {
                        label: "Targeted",
                        borderColor: "rgba(40, 169, 46, 0.9)",
                        borderWidth: "1",
                        backgroundColor: "rgba(40, 169, 46, .5)",
                        pointHighlightStroke: "rgba(40, 169, 46,.5)",
                        data: [1000, 5200, 3600, 2600, 4200, 5300, 0 ]
                    }
                    ]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    }

                }
            } );
        }
        //Traffic chart chart-js  End
        // Bar Chart #flotBarChart*/
        $.plot("#flotBarChart", [{
            data: [[0, 18], [2, 8], [4, 5], [6, 13],[8,5], [10,7],[12,4], [14,6],[16,15], [18, 9],[20,17], [22,7],[24,4], [26,9],[28,11]],
            bars: {
                show: true,
                lineWidth: 0,
                fillColor: '#ffffff8a'
            }
        }], {
            grid: {
                show: false
            }
        });
        // Bar Chart #flotBarChart End
    });
</script>
{% endblock %}