{% extends 'anonymous/base.html' %}
{% block main %}
<div class="container-fluid page-header" style="margin-bottom: 90px;">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            <h3 class="display-4 text-white text-uppercase">About</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'a_index' %}">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">About</p>
            </div>
        </div>
    </div>
</div>
    <!-- About Start -->
    
    {% for a in about%}
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    {% if a.image %}
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{{a.image.url}}" alt="">
                    {% else %}
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{{web.icon.url}}" alt="">
                    {% endif %}
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">About Us</h5>
                        <h1>{{a.topic}}</h1>
                    </div>
                    <p>{{a.paragraph}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}