{% extends 'anonymous/base.html' %}
{% block main %}
<div class="container-fluid page-header" style="margin-bottom: 90px;">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            <h3 class="display-4 text-white text-uppercase">Teachers</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Teachers</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Teachers</h5>
            <h1>Meet Our Teachers</h1>
        </div>
        <div class="row">
            {% for a in teachers %}
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="team-img position-relative">
                        {% if a.profile_pic %}
                        <img class="img-fluid" src="{{a.profile_pic.url}}" alt="">
                        {% else %}
                        <img class="img-fluid" src="{{web.icon.url}}" alt="">
                        {% endif %}
                        <div class="team-social">
                            <a class="btn btn-outline-light btn-square mx-1" href="{{a.facebook}}"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-square mx-1" href="{{a.telegram}}"><i class="fas fa-telegram"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary p-4">
                        <h5>{{a.profile.user.first_name}} {{a.profile.user.last_name}}</h5>
                        <p class="m-0">{{a.subject.name}} subject teacher</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End -->

{% endblock %}